<template>
  <v-container>
    <v-row>
      <v-col cols="3">
        <product-filter />
      </v-col>
      <v-col cols="9">
        <product-total />
        <filter-tag />
        <product-pagination />
        <product-grid />
        <product-pagination />
      </v-col>
    </v-row>
  </v-container>
</template>

<script>
import FilterTag from "@/components/FilterTag";
import ProductFilter from "@/components/ProductFilter";
import ProductPagination from "@/components/ProductPagination";
import ProductTotal from "@/components/ProductTotal";
import ProductGrid from "@/components/ProductGrid";

export default {
  props: ["brandId", "categoryId", "page"],
  components: {
    ProductGrid,
    ProductFilter,
    FilterTag,
    ProductPagination,
    ProductTotal
  },
  async mounted() {
    const { brand_id, category_id, page } = this.$route.query;
    await this.$store.dispatch("filterModule/initFilterData", {
      categoryId: category_id,
      brandId: brand_id,
      page: parseInt(page)
    });
  }
};
</script>

