<template>
  <v-expansion-panel>
    <v-expansion-panel-header>แบรนด์</v-expansion-panel-header>
    <v-expansion-panel-content>
      <v-list dense>
        <v-list-item-group multiple active-class @change="updateBrandFilters" :value="brandFilters">
          <v-list-item v-for="brand in getBrands" :key="brand.id" :value="brand.id">
            <template v-slot:default="{ active }">
              <v-list-item-action>
                <v-checkbox hide-details :input-value="active"></v-checkbox>
              </v-list-item-action>
              <v-list-item-content>
                <v-list-item-title>{{brand.name}}</v-list-item-title>
              </v-list-item-content>
            </template>
          </v-list-item>
        </v-list-item-group>
      </v-list>
    </v-expansion-panel-content>
  </v-expansion-panel>
</template>

<script>
import { mapGetters } from "vuex";
export default {
  name: "brand-filter",
  computed: {
    brandFilters: {
      get() {
        return this.$store.state.filterModule.filters.brandIds;
      }
    },
    ...mapGetters("filterModule", ["getBrands"])
  },
  methods: {
    updateBrandFilters(value) {
      this.$store.dispatch("filterModule/setBrandFilters", value);
    }
  }
};
</script>