<template>
  <v-expansion-panel>
    <v-expansion-panel-header>ประเภทสินค้า</v-expansion-panel-header>
    <v-expansion-panel-content>
      <v-expansion-panels accordion multiple flat>
        <v-expansion-panel v-for="category in getCategories" :key="category.id">
          <category-filter-group :category="category" />
        </v-expansion-panel>
      </v-expansion-panels>
    </v-expansion-panel-content>
  </v-expansion-panel>
</template>

<script>
import { mapGetters } from "vuex";
import CategoryFilterGroup from "@/components/CategoryFilterGroup.vue";

export default {
  name: "category-filter",
  components: {
    CategoryFilterGroup
  },
  computed: {
    ...mapGetters("filterModule", ["getCategories"])
  }
};
</script>