<template>
  <div>
    <v-expansion-panel-header>{{category.name}}</v-expansion-panel-header>
    <v-expansion-panel-content>
      <v-switch
        dense
        hide-details
        class="ma-0"
        v-model="categoryFilters"
        :value="category.id"
        :label="category.name + 'ทั้งหมด'"
      />
      <v-checkbox
        hide-details
        v-for="child in category.childs"
        v-model="categoryFilters"
        :value="child.id"
        :key="child.id"
        :label="child.name"
      />
    </v-expansion-panel-content>
  </div>
</template>

<script>
export default {
  computed: {
    categoryFilters: {
      get() {
        return this.$store.state.filterModule.filters.categoryIds;
      },
      set(value) {
        this.$store.dispatch("filterModule/setCategoryFilters", value);
      }
    }
  },
  props: {
    category: { type: Object }
  }
};
</script>