<template>
  <v-row>
    <v-chip
      class="ma-1"
      v-for="tag in getFilterTags"
      :key="tag.id"
      close
      outlined
      label
      @click:close="onCloseTag(tag)"
    >{{tag.name}}</v-chip>
  </v-row>
</template>

<script>
import { mapGetters } from "vuex";
export default {
  name: "filter-tag",
  computed: {
    ...mapGetters("filterModule", ["getFilterTags"])
  },
  methods: {
    onCloseTag(tag) {
      this.$store.dispatch("filterModule/closeTag", tag);
    }
  }
};
</script>