<template>
  <div>
    <v-row>
      <div class="ml-4 title">Filter</div>
      <v-spacer />
      <v-btn text color="primary" @click="onClearFilter" data-testid="clear-all">CLEAR ALL</v-btn>
    </v-row>
    <v-row>
      <v-card>
        <v-expansion-panels v-model="panel" accordion multiple>
          <category-filter />
          <brand-filter />
        </v-expansion-panels>
      </v-card>
    </v-row>
  </div>
</template>

<script>
import CategoryFilter from "@/components/CategoryFilter.vue";
import BrandFilter from "@/components/BrandFilter.vue";

export default {
  components: {
    CategoryFilter,
    BrandFilter
  },
  data() {
    return {
      panel: [0, 1]
    };
  },
  methods: {
    onClearFilter() {
      this.$store.dispatch("filterModule/clearFilter");
    }
  }
};
</script>
