<template>
  <v-pagination
    :value="parseInt(meta.currentPage)"
    :length="meta.lastPage"
    @input="onChangePage"
    data-testid="pagination"
  />
</template>

<script>
import { mapState } from "vuex";
export default {
  computed: mapState("productModule", ["meta"]),
  methods: {
    onChangePage(value) {
      this.$store.dispatch("filterModule/changePage", value);
    }
  }
};
</script>