<template>
  <v-row>
    <v-col cols="3" v-for="product in getProducts" :key="product.id">
      <product-card :product="product" />
    </v-col>
  </v-row>
</template>
<script>
import { mapGetters } from "vuex";
import ProductCard from "@/components/ProductCard.vue";

export default {
  components: {
    ProductCard
  },
  computed: {
    ...mapGetters("productModule", ["getProducts"])
  }
};
</script>