<template>
  <v-card height="100%">
    <v-img height="200" contain class="product-image" :src="image" data-testid="product-image" />
    <v-card-text class="font-weight-bold body-2" data-testid="product-name">{{product.name}}</v-card-text>
    <v-card-text
      class="font-weight-medium blue--text body-1"
      data-testid="product-price"
    >{{'฿' + ' ' + product.sku.price}}</v-card-text>
  </v-card>
</template>

<script>
import factool from "@/assets/factool.svg";
export default {
  name: "product-card",
  data() {
    return {
      image: factool
    };
  },
  props: {
    product: {
      type: Object
    }
  }
};
</script>

<style lang="scss" scoped>
.product-image {
  width: 48px;
  height: 48px;
  margin: auto;
}
</style>>