<template>
  <v-row>
    <div class="title" data-testid="total">ผลลัพธ์ {{meta.total}} ชิ้น</div>
  </v-row>
</template>
<script>
import { mapState } from "vuex";
export default {
  computed: mapState("productModule", ["meta"])
};
</script>