<template>
  <div id="app">
    <v-app>
      <v-app-bar app color="primary" dark>
        <v-toolbar-title>Factool Quiz</v-toolbar-title>
      </v-app-bar>
      <v-content>
        <router-view />
      </v-content>
    </v-app>
  </div>
</template>

<script>
export default {
  components: {}
};
</script>

<style lang="scss">
#app {
  font-family: Roboto;
}
</style>